<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css}" rel="stylesheet" >
	<script th:src="@{/js/jquery-3.2.0.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<title>用户登陆</title>
	<script>
	
	
	
	</script>
</head>
<body>
	<div th:insert="~{thymeleaf-component/pagehead :: pagehead}"></div>
	<video src="/PersonnelManagementSystem/video/smallvoice.mp4" autoplay="true" loop="loop" style="object-fit:cover;width: 100%"></video>
	<div style="position: absolute;left:580px;top:220px;">
		<h1 align="center"><font color="white">人事管理系统    第一轮练习</font></h1>		
	</div>
</body>
</html>